<div class="nav">
    <a class="item" href="http://localhost:8890/personal">个人信息</a>
    <a class="item" href="http://localhost:8890/addProdunt">商品添加</a>
    <a class="item" href="http://localhost:8890/viewProdunt">商品展示</a>
</div>